.contentTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 350px;
  max-width: 60dvw;
  height: 200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  table-layout: fixed;
}

.contentTable thead tr {
  color: #ffffff;
  background-color: var(--primary-500);
  text-align: left;
  font-weight: bold;
}

.contentTable th,
.contentTable td {
  padding: 12px 15px;
  width: 100px;
}

.contentTable tbody tr {
  border-bottom: 1px solid var(--primary-200);
}

.contentTable tfoot {
  color: #ffffff;
  background-color: var(--primary-500);
  border-bottom: 2px solid var(--primary-500);
}

.btn {
  background: linear-gradient(45deg, #18181b, #27272a);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: linear-gradient(45deg, #27272a, #3f3f46);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
