.filterContainer {
  background: var(--primary-50);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: var(--primary-200) 0px 8px 24px;
}

@media (max-width: 600px) {
  .filterContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
