.cartList {
  background: var(--primary-50);
  display: flex;
  flex-direction: column;
   max-width: 800px;
}

.cartHeader {
  background: var(--primary-600);
  color: var(--primary-950);
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
}

.cartHeader > h4 {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  font-size: 1.5rem;
}

.cartHeader > h4 > .cartLen {
  margin-left: 10px;
  font-weight: 200;
  font-family: inherit;
  font-size: 1.2rem;
  font-style: italic;
}

.cartMain {
  display: flex;
  flex-direction: column;
}
