.home {
  color: var(--primary-950);
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  justify-items: center;
  align-items: center;
  padding: 0 clamp(1.5rem, 7vw, 7rem);
  overflow: hidden;
  isolation: isolate;
}

.content {
  justify-self: flex-end;
  max-width: 560px;
  z-index: 1;
}

.content h1 {
  font-size: clamp(2.5rem, 4.5vw, 3.5rem);
  line-height: 1.1;
  margin-bottom: 1rem;
}

.content h1 span {
  color: var(--primary-700);
}

.content p {
  font-size: 1.05rem;
  color: var(--primary-950);
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 2.25rem;
}

.imgContainer {
  max-height: 600px;
  max-width: 600px;
}

.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .actions {
    justify-content: center;
  }
}
