.checkoutCart {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
}

.checkoutList {
  list-style: none;
  margin-top: 20px;
}

.checkoutList li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  gap: 10px;
}

.checkoutList .total {
  font-weight: bold;
  border-bottom: none;
  margin-top: 10px;
}
