:root {
  --gray-950: #030712;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;

  --error-950: #450a0a;
  --error-900: #7f1d1d;
  --error-800: #991b1b;
  --error-700: #b91c1c;
  --error-600: #dc2626;
  --error-500: #ef4444;
  --error-400: #f87171;
  --error-300: #fca5a5;
  --error-200: #fecaca;
  --error-100: #fee2e2;
  --error-50: #fef2f2;

  --success-950: #052e16;
  --success-900: #14532d;
  --success-800: #166534;
  --success-700: #15803d;
  --success-600: #16a34a;
  --success-500: #22c55e;
  --success-400: #4ade80;
  --success-300: #86efac;
  --success-200: #bbf7d0;
  --success-100: #dcfce7;
  --success-50: #f0fdf4;

  --primary-950: #3b0764;
  --primary-900: #581c87;
  --primary-800: #6b21a8;
  --primary-700: #7e22ce;
  --primary-600: #9333ea;
  --primary-500: #a855f7;
  --primary-400: #c084fc;
  --primary-300: #d8b4fe;
  --primary-200: #e9d5ff;
  --primary-100: #f3e8ff;
  --primary-50: #faf5ff;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-100);
  font-family:
    "Literata", "Tinos", "Acme", "Lucida Sans", "Lucida Sans Regular";
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
